@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Kanit:wght@200&family=Kaushan+Script&family=Teko&display=swap');

/* font-family: 'Jost', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Teko', sans-serif; */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  
.topnav {
    overflow: hidden;
    background-color: #2896fb;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
    font-family: 'Jost', sans-serif!important;
}
@media (min-width:992px){
    .topnav a  {
        padding: 12px 40px;
    }
}
  
.topnav i {
    padding-right: 5px;
}
.topnav a:hover {
    color: black;
}
  
.topnav a.active {
    color: white;
}
  
.topnav-right {
    float: right;
}


.nav-link {
    color: #ffffff!important;
    margin-left: 20px;
}

.nav-item a:hover {
    color: black!important;
}
.container .navbar-toggler{
    float: left!important;
    border: none!important;
    padding-right: 120px !important;
}
@media (min-width:992px){
    .container .navbar-toggler {
        padding-right: 0px !important;
    }
}

.container span {
    color: #fdc400!important;
    font-family: 'Teko', sans-serif!important;
    font-size: 20px!important;
    font-weight: 700;
    letter-spacing: 1px;
}
.container span:hover {
    color: #000000!important;
}
.book {
    margin-right: ;
}
@media (min-width:992px){
    .book {
       margin-right: 100px;
    }
}
.arrow {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.navbar-brand img {
  margin-left: ;
  margin-top: 10px;
  width: 150px;
  height: 150px;
}

@media (min-width:992px){
  .navbar-brand img {
      margin-left: 200px;
  }
}

.nav2 a {
  color: #000000!important;
  font-family: 'Teko', sans-serif!important;
  margin-left: ;
  font-size: 25px!important;
}
@media (min-width:992px){
  .nav2 a {
      margin-left: 80px!important;
  }
}

.nav2 a:hover{
  background-color: #000000;
  color: white!important;
}

/* .navs {
    width: 100%;
    position: relative;
  }
  
  .navs > .nav-headers {
    display: inline;
  }
  
  .navs > .nav-headers > .nav-titles {
    display: inline-block;
    padding: 10px 10px 10px 10px;
  }
  .nav-titles img {
    margin-left: 0px;
    margin-top: 10px;
    width: 150px;
    height: 150px;
  }
  @media (min-width:992px){
    .nav-titles img {
        margin-left: 200px;
    }
}
  .navs > .nav-btns {
    display: none;
  }
  
  .navs > .nav-linkss {
    display: inline;
    float: right;
    font-size: 25px;
    text-align: center;
    padding-right: 300px;
    padding-top: 100px;
    line-height: 20.8px;
  }
  
  .navs > .nav-linkss > a {
    margin-left: 80px;
    text-decoration: none;
    color: #000000;
    font-family: 'Teko', sans-serif;
    
  }
  
  .navs > .nav-linkss > a:hover {
    background-color: rgba(0, 0, 0);
    color: white;
    padding: 5px;
    
  }
  
  .navs > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .navs > .nav-btns {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .navs > .nav-btns > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .navs > .nav-btns > label:hover,.navs  #nav-check:checked ~ .nav-btns > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .navs > .nav-btns > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .navs > .nav-linkss {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .navs > .nav-linkss > a {
      display: block;
      width: 100%;
    }
    .navs > #nav-check:not(:checked) ~ .nav-linkss {
      height: 0px;
    }
    .navs > #nav-check:checked ~ .nav-linkss {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
 */

  /* section 1 */
  .row {
    margin-top: ;
  }
  
  @media (min-width:992px){
    .row {
        margin-top: 90px;
    }
}

.row-right{
    padding-left: ;
    padding-top: ;
}
@media (min-width:992px){
    .row-right{
        padding-left: 60px;
        padding-top: 20px;
    }
}

.grow{
    color: #4acf27;
    font-size: 16px;
    font-family: 'Kaushan Script', cursive;
}
.head {
    color: #2896fb;
    font-size: 70px!important;
    text-align: left;
    font-weight: 700;
    line-height: 84px!important;
    /* font-family: 'Jost', sans-serif; */
}


.row2 {
    font-size: 25px;
    font-weight: 500;

}

.row2 b{
    color: #fdc400!important;
}

.button {
    border: solid 2px #000000;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 8px 34px;
    cursor: pointer;
    font-family: 'Jost', sans-serif; 
  }
.button:hover{
    background-color: #000000;
    color: white;
}
.buttons {
    margin-left: 20px;
    border: solid 2px #000000;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Teko', sans-serif;
  }

.buttons:hover{
    background-color: #000000;
    color: white;
}


/* .facts {
  padding-bottom: 30px;
}

.facts .count-box {
  padding: 30px;
  width: 100%;
}

.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #149ddd;
  float: left;
}

.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}

.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}

.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #122f57;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
  color: #1f5297;
} */


@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.count{
  margin-top: 20px;
  text-align: justify!important;
    -ms-text-justify: distribute-all-lines!important;
    text-justify: distribute-all-lines!important;
    width:100%;
  background-color: #70c066;
}



.counters-container {
  padding-left: 20px !important;
  padding-right: auto;
  flex-direction: column;
  justify-content: center!important;
  text-align: center!important;
  margin: 30px 50px;
  vertical-align: top;
    display: inline-block;
}

.counters {
  font-size: 60px;
  margin-top: 10px;
  margin-left: 25px!important;
  
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}

.head1{
  color: #2896fb;
  font-size: 44px!important;
  text-align: left;
  font-weight: bold;
  line-height: 52px!important;
  font-family: 'Jost', sans-serif;
}

.head1 i{
  color: #000000;
}

.row-left-2 img{
  padding-left:120px;
}
.row-2 { 
  font-size: 20px;
  text-align: justify;
  padding-right: 100px;
}

.plan {
  margin-top: 100px;
  text-align: center;
}
.head-1{
  color: #2896fb;
  font-size: 44px!important;
  font-weight: bold;
  line-height: 52px!important;
}

.head-1 i{
  color: #000000;
}

.button-90 {
  color: #fff!important;
  padding: 15px 25px!important;
  border-radius: 100px!important;
  background-color: #4C43CD!important;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}

.para{
  padding-top: 20px;
  font-size: 20px;
  padding-left: 25%;
  padding-right: 25%;
  text-align: justify;
  font-family: 'Kanit', sans-serif;
  line-height: 40px;
  font-weight: bold;
}

.para2 {
  color: red;
  padding-left: 20%;
  padding-right: 20%;
}

